@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;  
}

.navigation ul li {
    border: 1px solid rgba(207, 100, 50, 0.945);
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color: rgb(156, 238, 50);
    text-decoration: none;
}


@media (min-width: 480px) {
    .image-container{
        background-image: url('../img/profile1.jpg');
    }
   
     /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/

    .container {
        background-color: rgb(218, 170, 109);
        color: greenyellow;
        width: 100%;
        border: 1px solid greenyellow;
        
    }
    

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }
    .navigation ul li {
        border: 1px solid greenyellow;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }

    .footer ul a {
        color: rgb(156, 238, 50);
        text-decoration: none;
    }
    
}


@media (min-width: 768px) {
    .image-container{
        background-image: url('../img/profile2.jpg');
    }
    .container {
        background-color: greenyellow;
        color: rgb(119, 82, 34);
        width: 100%;
        border: 1px solid rgb(119, 82, 34);
        }

        .navigation ul li {
            border: 1px solid rgb(119, 82, 34);
        }
            .footer ul a {
                color: rgb(119, 82, 34);
                text-decoration: none;
            }
    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
}


@media (min-width: 1024px){
        
    .image-container{
        background-image: url('../img/profile3.jpg');
    }
    .container {
        background-color: rgb(82, 55, 15);
        color: rgb(182, 241, 92);
        width: 100%;
        border: 1px solid rgb(182, 241, 92);
        }
        .navigation ul li {
            border: 1px solid rgb(182, 241, 92);
        }
            .footer ul a {
                color: rgb(182, 241, 92);
                text-decoration: none;

    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
}


@media (min-width: 1200px){
    .image-container{
        background-image: url('../img/profile4.jpg');
    }
    .container {
        background-color: rgb(44, 35, 20);
        color: rgb(148, 230, 26);
        width: 100%;
        border: 1px solid rgb(148, 230, 26);
        }
        .navigation ul li {
            border: 1px solid rgb(182, 241, 92);

        }
    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/

    .header h1 {
        margin: 3rem auto;
    }
    .navigation ul li {
        display: inline-block;
        width: 16rem;
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid rgb(182, 241, 92) };
       
    }

    .main-container {
        width: 75%;
    }

}
